<p id="notice"><%= notice %></p>

<h1>Listing Game Genres</h1>

<table>
  <thead>
    <tr>
      <th>Name jp</th>
      <th>Name en</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_genres.each do |game_genre| %>
      <tr>
        <td><%= game_genre.name_jp %></td>
        <td><%= game_genre.name_en %></td>
        <td><%= link_to 'Show', game_genre %></td>
        <td><%= link_to 'Edit', edit_game_genre_path(game_genre) %></td>
        <td><%= link_to 'Destroy', game_genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game genre', new_game_genre_path %>
