<%= form_for(@task_info) do |f| %>
  <% if @task_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_info.errors.count, "error") %> prohibited this task_info from being saved:</h2>

      <ul>
      <% @task_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :detail, "詳細" %><br>
    <%= f.text_field :detail %>
  </div>
  <div class="field">
	<%= select "task_info[estimate_time_type_id]", "", [ ["未指定", ""] ], {}, {:id => "estimate_time_select"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
