<p id="notice"><%= notice %></p>

<h1>Listing Task Infos</h1>

<p>進捗状況で絞り込み</p>
<!-- 絞り込みオプションが選択されたらリロード -->
<script type="text/javascript">
<!--
function reload_index_page(){
	window.location.href = "<%= task_infos_path %>?view_status_name=" + $("#view_status_select").val();
}
-->
</script>
<%= select "", "", TaskStatus.all.map { |c| ["#{c.name_jp}のみ表示", c.name_jp] }, {:include_blank => true, :selected => @view_status_name}, {:onchange => "reload_index_page()", :id => "view_status_select"} %>

<%= render 'task_info_table' %>

<br>

<%= link_to 'New Task info', new_task_info_path %>
