<p id="notice"><%= notice %></p>

<h1>Listing Task Infos</h1>

<table>
  <thead>
    <tr>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_infos.each do |task_info| %>
      <tr>
        <td><%= task_info.string %></td>
        <td><%= link_to 'Show', task_info %></td>
        <td><%= link_to 'Edit', edit_task_info_path(task_info) %></td>
        <td><%= link_to 'Destroy', task_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task info', new_task_info_path %>
