<%= hidden_field_tag :page_file_name, File.basename(__FILE__) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong><br>
  <%= @task_info.title %><br>

  <strong>詳細:</strong><br>
  <%= @task_info.detail %><br>
</p>

<!-- 進捗変更ボタン -->
<% task_status_change_url = "task_status_change" %>
<!-- 前のステータスに変更 -->
<% prev_status = @task_info.task_status.prev_task_status %>
<% if prev_status != nil %>
<%= form_tag(task_status_change_url, :method => 'get') do %>
	<div class="actions">
	  <%= hidden_field_tag :id, @task_info.id, { :id => "task_status_change_prev" } -%>
	  <%= hidden_field_tag :task_status_id, prev_status.id %>
	  <%= submit_tag "#{prev_status.name_jp}に変更する", { :id => "task_status_change_prev_button" } %>
	</div>
<% end %>
<% end %>

<!-- 次のステータスに変更 -->
<% next_status = @task_info.task_status.next_task_status %>
<% if next_status != nil %>
<%= form_tag(task_status_change_url, :method => 'get') do %>
	<div class="actions">
	  <%= hidden_field_tag :id, @task_info.id, { :id => "task_status_change_next" } -%>
	  <%= hidden_field_tag :task_status_id, next_status.id %>
	  <%= submit_tag "#{next_status.name_jp}に変更する", { :id => "task_status_change_next_button" } %>
	</div>
<% end %>
<% end %>

<p>
<%
   estimate_task_time = -1
   estimate_task_time = @task_info.estimate_task_time_type if @task_info.estimate_task_time_type != nil
   task_time = @task_info.calc_task_time
   task_time_str = "#{task_time}分"
   estimate_progress = @task_info.calc_estimate_progress
%>
<strong>想定進捗率:<%= "#{estimate_progress}%"  %> 経過時間:<%= task_time_str %> 見積もり時間:<%= estimate_task_time.name_jp %></strong>
</p>

<%
   task_info_log_width = 120
%>

<!-- 新規作業メモ追加欄 -->
<% task_info_log = TaskInfoLog.new(:task_info_id => @task_info.id) %>
<%= form_for(task_info_log, :url => task_info_logs_path(task_info_log)) do |f| %>
	<div class="field">
	  <%= f.hidden_field :task_info_id %>
	  <%= f.label :content, "作業メモ" %><br>
	  <%= f.text_area :content, { :id => "task_info_log_content", :size => "#{task_info_log_width.to_s}x4", :maxlength => 200 } %><br>
	</div>
	<div class="actions">
	  <%= f.submit "作業メモ追加", { :id => "create_task_info_log_button" } %>
	</div>
<% end %>

<br>
<br>

<!-- 作業メモ表示 -->
<% task_info_logs = TaskInfoLog.where(:task_info_id => @task_info.id).order("created_at DESC") %>
<% task_info_logs.each do |task_info_log| %>
	<% row = (task_info_log.content.length*1.5 / task_info_log_width).to_i + (task_info_log.content.lines.size) + 2 # 少し余計にバッファとっておく %>
	<%
	   text = task_info_log.content
	%>
	<%= text_area_tag task_info_log, text, { :id => "show_task_info_log", :size => "#{task_info_log_width.to_s}x#{row.to_s}", :maxlength => 200 } %><br>
	<div style='color:#777777'>作成:<%= task_info_log.created_at %> 更新:<%= task_info_log.updated_at %></div><br>
<% end %>

<%= link_to 'Edit', edit_task_info_path(@task_info) %> |
<%= link_to 'Back', task_infos_path %>
