<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong><br>
  <%= @task_info.title %><br>

  <strong>詳細:</strong><br>
  <%= @task_info.detail %><br>
</p>

<!-- タスク完了ボタン -->
<%= form_tag("finish_task", :method => 'get') do %>
	<div class="actions">
	  <%= hidden_field_tag :id, @task_info.id, { :id => "task_finish_button_task_id" } -%>
	  <%= submit_tag "タスク完了", { :id => "task_finish_button" } %>
	</div>
<% end %>

<%= link_to 'Edit', edit_task_info_path(@task_info) %> |
<%= link_to 'Back', task_infos_path %>
