<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong><br>
  <%= @task_info.title %><br>

  <strong>詳細:</strong><br>
  <%= @task_info.detail %><br>
</p>

<%= link_to 'Edit', edit_task_info_path(@task_info) %> |
<%= link_to 'Back', task_infos_path %>
