<%= form_for(@game_info) do |f| %>
  <% if @game_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_info.errors.count, "error") %> prohibited this game_info from being saved:</h2>

      <ul>
      <% @game_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_jp %><br>
    <%= f.text_field :name_jp %>
  </div>
  <div class="field">
    <%= f.label :name_en %><br>
    <%= f.text_field :name_en %>
  </div>
  <div class="field">
	<% if @game_info.game_genres == nil %>
		<%= select "game_info[game_genre_ids]", "", GameGenre.all.map { |c| [c.name_jp, c.id] }, :include_blank => true %>
	<% else %>
	<% @game_info.game_genres.each do |game_genre| %>
		<%= select "game_info[game_genre_ids]", "", GameGenre.all.map { |c| [c.name_jp, c.id] } %>
	<% end %>
	<%= select "game_info[game_genre_ids]", "", GameGenre.all.map { |c| [c.name_jp, c.id] }, :include_blank => true %>
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
