<p id="notice"><%= notice %></p>

<p>
  <strong>Name jp:</strong>
  <%= @game_info.name_jp %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @game_info.name_en %>
</p>

<%= form_tag('/game_infos/switch_by_platform', :remote => true, :method => 'get') do -%>
  <%= submit_tag('Start Ajax', :class => 'btn btn-primary btn-sm') -%>
<% end %>

<%= link_to 'Edit', edit_game_info_path(@game_info) %> |
<%= link_to 'Back', game_infos_path %>
