<p id="notice"><%= notice %></p>

<p>
  <strong>Name jp:</strong>
  <%= @game_info.name_jp %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @game_info.name_en %>
</p>

<%
platforms = @game_info.game_platforms != nil ? @game_info.game_platforms : []
%>
<% platforms.each do |platform| %>
	<%= form_tag('/game_infos/switch_by_platform', :remote => true, :method => 'get') do %>
		<%= hidden_field_tag :platform, platform.name_en -%>
		<%= submit_tag(platform.name_en, :class => 'btn btn-primary btn-sm') -%>
	<% end %>
<% end %>

<%= link_to 'Edit', edit_game_info_path(@game_info) %> |
<%= link_to 'Back', game_infos_path %>
